[package]
name = "status-upstream"
version = "0.5.1"
edition = "2021"

[dependencies]
anyhow = "1"
async-trait = "0.1"
clap = "3.0"
hex-literal = "0.3"
reqwest = { version = "0.11", default-features = false, features = ["json", "serde_json", "socks", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1"
serde_json = "1"
spdlog-rs = { version = "0.2", features = ["level-trace", "release-level-debug"] }
tokio = { version = "1", features = ["full"] }
toml = "0.5"
